USE [master]
GO
/****** Object:  Database [DW_PLANTA]    Script Date: 24/10/2023 17:07:46 ******/
CREATE DATABASE [DW_PLANTA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DW_PLANTA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW_PLANTA.mdf' , SIZE = 65536KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DW_PLANTA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DW_PLANTA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DW_PLANTA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DW_PLANTA]
GO
/****** Object:  Table [dbo].[D_CLIENTE]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_CLIENTE](
	[id_cliente] [nvarchar](50) NOT NULL,
	[nombre_cliente] [nvarchar](50) NULL,
	[edad] [int] NULL,
	[estado_civil] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[id_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_PRODUCTO]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_PRODUCTO](
	[id_producto] [nvarchar](50) NOT NULL,
	[nombre_producto] [nvarchar](50) NULL,
	[familia_producto] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[id_producto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_SUCURSAL]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_SUCURSAL](
	[id_sucursal] [int] NOT NULL,
	[nombre_sucursal] [nvarchar](50) NULL,
	[nombre_region] [nvarchar](50) NULL,
	[nombre_comuna] [nvarchar](50) NULL,
	[nombre_ciudad] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[id_sucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_TIEMPO]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_TIEMPO](
	[id_tiempo] [nvarchar](50) NOT NULL,
	[mes] [int] NULL,
	[anio] [int] NULL,
 CONSTRAINT [PK_D_TIEMPO] PRIMARY KEY CLUSTERED 
(
	[id_tiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[D_VENDEDOR]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[D_VENDEDOR](
	[id_vendedor] [int] NOT NULL,
	[nombre_vendedor] [nvarchar](50) NULL,
	[tipo_capacitacion] [nvarchar](50) NULL,
	[hora_capacitacion] [nvarchar](50) NULL,
 CONSTRAINT [PK_D_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[id_vendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[H_VENTA]    Script Date: 24/10/2023 17:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[H_VENTA](
	[id_venta] [int] IDENTITY(1,1) NOT NULL,
	[id_producto] [nvarchar](50) NULL,
	[id_sucursal] [int] NULL,
	[id_cliente] [nvarchar](50) NULL,
	[id_vendedor] [int] NULL,
	[id_tiempo] [nvarchar](50) NULL,
	[cantidad_venta] [int] NULL,
	[monto_venta] [int] NULL,
 CONSTRAINT [PK_H_VENTA] PRIMARY KEY CLUSTERED 
(
	[id_venta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_H_VENTA_D_CLIENTE] FOREIGN KEY([id_cliente])
REFERENCES [dbo].[D_CLIENTE] ([id_cliente])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_CLIENTE]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_H_VENTA_D_PRODUCTO] FOREIGN KEY([id_producto])
REFERENCES [dbo].[D_PRODUCTO] ([id_producto])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_PRODUCTO]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_H_VENTA_D_SUCURSAL] FOREIGN KEY([id_sucursal])
REFERENCES [dbo].[D_SUCURSAL] ([id_sucursal])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_SUCURSAL]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_H_VENTA_D_TIEMPO] FOREIGN KEY([id_tiempo])
REFERENCES [dbo].[D_TIEMPO] ([id_tiempo])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_TIEMPO]
GO
ALTER TABLE [dbo].[H_VENTA]  WITH CHECK ADD  CONSTRAINT [FK_H_VENTA_D_VENDEDOR] FOREIGN KEY([id_vendedor])
REFERENCES [dbo].[D_VENDEDOR] ([id_vendedor])
GO
ALTER TABLE [dbo].[H_VENTA] CHECK CONSTRAINT [FK_H_VENTA_D_VENDEDOR]
GO
USE [master]
GO
